/* .todo-body{
    background: #828282;
} */
.todo-menu{
    width: 400px;
    margin: 0 auto;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #b4ba00;
}
.todo-input{
    margin: 10px 0;
}
/* input[type=text]{
    border-radius: 8px;
    border: 1px solid #cccef8 ;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #fff;
    transition: border-color 0.25s;
    margin: 0 10px;
} */
/* input:focus{
    outline: 1px solid #646cff;
} */

.todo-td{
    background-color: rgb(2, 238, 255);
    padding:5px 15px;
    font-size: large;
}